@media only screen and (min-width: 1024px){
    .menu{
        align-items: center;
        flex-direction: column;
        max-width: 80px;
        padding-right: 0px;
        padding-bottom: 64px;
        max-height: 100vh;
        height: 100vh;
    }
    .navbar-toggler{
     position: fixed;
     top: 90vh;       
    }
    .brand__logo{
        height: 112px;
        padding: 48px 16px 0px 16px;
    }
   .menu__navigation{
    background-color: white;
    border-left: 1px solid black;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 94vw;
    min-width: 94vw;
    position: fixed;
    z-index: 9999 !important;
    top: 0;
    left: 80px;
    padding-left: 47px;
   }
   .menu__wrapper{
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: nowrap;
   }
   
   .menu__route-image{
    height: 100vh;
    display: block !important;
    object-fit: cover;
    position: absolute;
    right: -170px;
   }
}

@media only screen and (min-width: 1440px){
    .menu__navigation{
        background-color: white;
    border-left: 1px solid black;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 94vw;
    min-width: 96vw;
    position: fixed;
    z-index: 9999 !important;
    top: 0;
       }
       .menu__route-image{
        right: 0px;
       }
    }